{
    "extends": "react-app",
    "rules": {
        "no-undef": "error",
        "no-restricted-globals": "off",
        "no-unused-vars": "warn",
        "jsx-a11y/anchor-is-valid":"off",
        "eqeqeq": "off"
    }
}
